
{% block content %}
    <h1>Albums</h1>

{% for album in album_list %}
    <strong>{{ album.title }}</strong>
    <ul>
        <li>{{album.artist}}</li>
        {% for genre in album.genres.all %}
            <li>{{genre.genre}}</li>
        {% endfor %}
        <!--
            <li>Songs: </li>
            <ul>
            {% for song in album.songs.all %}
                <li>{{song.title}}</li>
            {% endfor %}
            </ul>
        -->

    </ul>
{% endfor %}
    <br>
    <li><a href={% url 'create_album' %}> Crear album </li></a>
    <li><a href={% url 'Principal' %}> Index </li></a>
{% endblock %}